body
{
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
}

h1
{
    text-align: center;
}

p
{
    font-size: 125%;
}

img
{
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
}
